body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1.3rem;
}



/******************************
*******Sign In
*******************************/
.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  top: 0;
}
.popup {
  position: fixed;
  top: 10%;
  left: 40%;
  width: 25%;
  background-color: #fff;
  box-shadow: 5px 10px 8px 10px #048688;
}
.popup .popup-inner {
  margin: 5px 0px;
}
.popup .popup-inner img {
  position: relative;
  width: 20px;
  padding: 0px 10px;
  left: 90%;
}
.popup .popup-preview {
  margin: 10px 30px;
}
.popup .popup-preview .input .heading-sign-in {
  text-align: center;
  margin-bottom: 25px;
  line-height: 40px;
}
.popup .popup-preview .input .input-feilds {
  width: 90%;
  margin: 0 auto;
}
.popup .popup-preview .input .input-feilds input {
  width: 85%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #048688;
}
.popup .popup-preview .input .input-feilds button {
  width: 97%;
  margin: 20px 0px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 0;
  background-color: #048688;
  color: #fff;
}
.popup .popup-preview .input .input-feilds .bottom {
  margin: 30px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.popup .popup-preview .input .input-feilds .sign-up-bottom {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.checkbox {
  width: 100%;
  display: flex;
}
#terms {
  width: 10%;
  margin-top: 11%;
}
.checkbox label {
  font-size: 11px;
  margin-top: 10%;
}
.bottom a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .gradient {
    height: 1000px;
  }
  .popup .popup-inner {
    top: 5%;
    left: 12vw;
    width: 95%;
  }
  .popup-input {
    padding: 14%;
  }
  .checkbox img {
    top: 31%;
    right: 12%;
  }
  .popup {
    left: 15%;
    width: 75%;
  }
  .popup .popup-preview .input .input-feilds button {
    padding: 10px 0px;
  }
  .popup .popup-inner img {
    position: absolute;
    left: 84%;
  }
  .sign-up-bottom {
    font-size: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 750px) {
  .popup .popup-inner {
    top: 5%;
    left: 12vw;
    width: 70%;
    margin: 0px 40px;
  }
  .popup-input {
    padding: 14%;
  }
  .checkbox img {
    top: 31%;
    right: 12%;
  }
  .popup {
    left: 20%;
    width: 65%;
  }
  .popup .popup-preview .input .input-feilds button {
    padding: 10px 0px;
  }
  .popup .popup-inner img {
    position: absolute;
    left: 84%;
  }
  .sign-up-bottom {
    font-size: 10px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1200px) {
  .popup .popup-inner {
    top: 5%;
    left: 12vw;
    width: 90%;
    margin: 0px 10px;
  }
  .popup-input {
    padding: 14%;
  }
  .checkbox img {
    top: 31%;
    right: 12%;
  }
  .popup {
    left: 35%;
    width: 40%;
    box-shadow: 0px 0px 15px 0px #048688;
    border-radius: 4%;
  }
  .popup .popup-preview .input .input-feilds button {
    padding: 10px 0px;
  }
  .popup .popup-inner img {
    position: absolute;
    left: 89%;
  }
  .sign-up-bottom {
    font-size: 10px;
  }
}

/*
Common
************************************/

html,
body {
  height: 100%;
  font-family: monospace;
}

.content {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 21px;
}

@media screen and (max-width: 500px) {
}

/*
Posts
************************************/

.post_form {
  padding: 20px;
  border: 1px solid #048688;
}

.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #048688;
}

.post_form textarea {
  width: 96%;
  margin-bottom: 10px;
  padding: 10px 10px 60px 10px;
  border: 1px solid #048688;
}

.post_form .upload-area {
  width: 96%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #048688;
  text-align: center;
}

.post_form button,
.login-btn {
  width: 20%;
  padding: 13px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 5%;
  background-color: #048688;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.upload-image {
  width: 50%;
}

.posts ul {
  padding: 0;
}

.posts li {
  position: relative;
  display: flex;
  border: 1px solid #048688;
  padding: 20px 20px;
  list-style: none;
  margin: 10px 0px;
}

.posts li .menu_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
  cursor: pointer;
}

.posts li .menu {
  position: absolute;
  top: 40px;
  right: 15px;
  border: 2px solid #048688;
  color: #048688;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
}

.posts li img {
  width: 100%;
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 13%;
}

.posts li .logo img {
  width: 80%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.posts li .name_body .body {
  margin: 10px 0px;
}

.posts li .name_body .datetime {
  color: gray;
  margin-bottom: 10px;
}

.no-post {
  text-align: center;
}

.no-post p {
  margin: 0px 0px;
}

.loading {
  text-align: center;
}

/* ******************* Final Touch up ************************ */

.login-btn {
  margin: 10% 35%;
  width: 30%;
}
u {
  /* text-decoration: none; */
  color: black;
}
.log-out,
.download {
  margin: 2% 0%;
}
